## Python Implementation for Apriori Algorithm

In [33]:
import numpy as np
import pandas as pd
from apyori import apriori

In [35]:
data = pd.read_csv('GroceryStoreDataSet2.csv', header = None)

In [36]:
data.head()

       0      1          2           3
0   MILK  BREAD    BISCUIT         NaN
1  BREAD   MILK    BISCUIT  CORNFLAKES
2  BREAD    TEA  BOURNVITA         NaN
3    JAM  MAGGI      BREAD        MILK
4  MAGGI    TEA    BISCUIT         NaN

In [42]:
dims = data.shape
print(dims)

(20, 4)

In [44]:
transactions = []

for i in range(0, dims[0]):
    transactions.append([str(data.values[i,j]) for j in range(0, dims[1])])

In [60]:
assoc_rules = apriori(transactions, min_support = 0.3, min_confidence = 0.5, min_length = 2)

In [61]:
assoc_results = list(assoc_rules)

In [62]:
print(assoc_results)

[RelationRecord(items=frozenset({'BREAD'}), support=0.65, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'BREAD'}), confidence=0.65, lift=1.0)]), RelationRecord(items=frozenset({'nan'}), support=0.65, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'nan'}), confidence=0.65, lift=1.0)]), RelationRecord(items=frozenset({'BREAD', 'nan'}), support=0.45, ordered_statistics=[OrderedStatistic(items_base=frozenset({'BREAD'}), items_add=frozenset({'nan'}), confidence=0.6923076923076923, lift=1.0650887573964496), OrderedStatistic(items_base=frozenset({'nan'}), items_add=frozenset({'BREAD'}), confidence=0.6923076923076923, lift=1.0650887573964496)]), RelationRecord(items=frozenset({'SUGER', 'nan'}), support=0.3, ordered_statistics=[OrderedStatistic(items_base=frozenset({'SUGER'}), items_add=frozenset({'nan'}), confidence=1.0, lift=1.5384615384615383)])]

In [63]:
print(len(assoc_results))

4